<style type="text/css">
	#functionality_pending{
		border: 1px solid green;
		background-color:#7ce571;
		padding: 6px 8px 6px 8px;
		color: black;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
</style>
<div id="functionality_pending">
	<p>
		Functionality's pending.  We're on it, so no worries.  The fruits are our labor shall be available soon enough.
	</p>
</div>