<div id="new_comment_form" class="comment_form_wrap ui-corner-all">
	<header id="comment_form_header" class="ui-corner-tr ui-corner-tl ui-widget-header">
		<h4>Post new Comment</h4>
	</header>
	<%= render "comments/form" %>
</div>