<%= render "system/home/assets/styles" %>
<%= render "system/home/assets/scripts" %>
<article id="home_page_blurb">
	<p>
		Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec molestie. Sed aliquam sem ut arcu. Phasellus sollicitudin. Vestibulum condimentum  facilisis nulla. In hac habitasse platea dictumst. Nulla nonummy.
	</p>
</article>
<section id="home_page_columns">
	<%= render "system/home/columns/posts" %>
	<%= render "system/home/columns/projects" %>
	<br class="clear_both" />
</section>