<nav id="sitenav">
	<ul>
		<%= nav_link_for "Home", root_path %>
		<%= nav_link_for "Blog", blog_path %>
		<%= nav_link_for "Workshop", workshop_path %>
		<%#= nav_link_for "About Us", about_us_path %>
		<%= nav_link_for "Contact", contact_us_path %>
	</ul>			
</nav>