<section id="sidebar">
	<div id="sidebarwrap">
		<h2>About SilverBlog</h2>
		<p>
			SilverBlog is a free CSS Template released under GNU GPL license. You are free to use / modify it in any way you want without any restrictions.  A link back to this website will always be appreciated. <a href="#">Read More</a>
		</p>
		<h2>Latest Stuff <%= link_to "Archive", archive_path, :style => "font-size: 11px" %></h2>
		<ul>
			<% SiteContent.all.each do |site_content| %>
				<li><%= link_to site_content.Content.Title, site_content.Content %></li>
			<% end %>
		</ul>
		<h2>Categories</h2>
		<ul>
			<% categories = Category.order("categories.Name ASC") %>
			<% categories.each do |aCategory| %>
				<li>
					<%= link_to aCategory.Name, aCategory %>
					<%= (aCategory.SiteContents.empty? ? "(0)" : "(" + aCategory.SiteContents.size.to_s + ")") %>
				</li>
			<% end %>
		</ul>
	</div>
</section>