<article id="edit_project_wrap" class="module width_full">
	<header><h3>Edit <%= @project.Title %></h3></header>
	<div class="module_content">
		<%= render "admin/projects/form" %>
	</div>
</article>
