<section id="comments">
	<h3><%= (@parent.Comments.empty? ? "0" : @parent.Comments.size.to_s) %> Responses to "Article Title</h3>
	<div id="commentlist">
		<% @parent.Comments.each do |aComment| %>
			<article class="entry">
				<div class="avatar"> 
					<img src="http://1.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=38">
					<p class="author">
						<span class="name">
							<% if aComment.Poster.nil? %>
								<span style="color:gray ; font-style: italic">Anonymous</span>
							<% else %>
								<%= link_to aComment.Poster.username, aComment.Poster %>
							<% end %>
						</span>
						<time class="date">12 June 2010</time>
					</p>
				</div>
				<div class="comment">
					<p>
						<%= raw(aComment.Body) %>
					</p>
				</div>
				<div class="clear"></div>
			</article>
		<% end %>
	</div>
	<% @comment = Comment.new({:parent_id => @parent.id, :parent_type => @parent.class.to_s})%>
	<%= render :partial => "comments/form" %>
</section>
