<h2>Listing <%= @categories.nil? ? "0" : @categories.length.to_s %> Categories</h2>
<style type="text/css">
	#categories_table th, #categories_table td{
		text-align: left;
	}
	#categories_table > tbody td{
		padding: 2px 4px 2px 4px;
	}
</style>
<table id="categories_table">
	<thead>
		<tr>
			<th>Name</th>
			<th># of items</th>
		</tr>
	</thead>
	<tbody>
		<% @categories.each do |aCategory| %>
			<tr>
				<td><%= link_to aCategory.Name, aCategory %></td>
				<td><%= aCategory.SiteContents.empty? ? "0" : aCategory.SiteContents.size.to_s %> item(s)</td>
			</tr>
		<% end %>
	</tbody>
</table>
