<%= render "admin/users/show/assets/styles" %>
<%= render "admin/users/show/assets/scripts" %>
<article class="module width_quarter">
	<header><h3>Comments & Messages</h3></header>
	<div class="module_content">
		<p>
			Comments and Messages
		</p>
	</div>
</article>
