<section id="main">
	<section id="featured">
		<h2 class="ftheading">Featured</h2>
		<div class="ftwrap">
			<div class="ftimg">
				<img src="/frameworks/silverblog/images/img3.jpg" width="204" height="128" alt="img1">
			</div>
		  	<div class="fttxt">
		  		<h3>Featured Content</h3>
		  		<p>
		  			Lorema psum dolor sit amet, consectetur adipiscing elit. Integer egestas purus bibendum neque aliquam ut posuere elit semper. Fusce sagittis pharetra eros, sit amet consequat sem mollis vitae. 
				</p>
			</div>
		</div>
	</section>
	<div id="leftcontainer">
		<h2 class="mainheading">Latest from our <i>brilliant</i> contributors</h2>
		<% if @contents.nil? || @contents.count <= 0 %>
			<h3 style="font-weight: bold ; font-style: italic">Then again...maybe we got nuttin'</h4>
		<% else %>
			<% @contents.each do |content| %>
				<% if content.content_type == Post.to_s %>
					<%= render :partial => "posts/partials/preview", :locals => {:post => content.Content} %>
				<% elsif content.content_type == Project.to_s %>
					<%= render :partial => "projects/partials/preview", :locals => {:project => content.Content} %>
				<% end %>
			<% end %>
		<% end %>
		<!--
		<div class="wp-pagenavi">
			<span class="current">1</span><a href="/page/2/" title="2">2</a><a href="/page/3/" title="3">3</a><a href="/page/4/" title="4">4</a><a href="/page/5/" title="5">5</a><a href="/page/6/" title="6">6</a><a href="/page/7/" title="7">7</a><a href="/page/8/" title="8">8</a><a href="/page/2/">Next &raquo;</a><span class="extend">...</span><a href="/page/27/" title="Last &raquo;">Last &raquo;</a>
		</div>
		-->
	    <div class="clear"></div>
	</div>
</section>